<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <display-name>RecipeFinder</display-name>
 <servlet>
  <description>upload a file to server</description>
  <display-name>FileUpload</display-name>
  <servlet-name>FileUpload</servlet-name>
  <servlet-class>com.harry.recipe.FileUpload</servlet-class>
  <init-param>
   <param-name>uploadPath</param-name>
   <param-value>F:/apache-tomcat-6.0.18/webapps/ShopWebSite/images/products/</param-value>
  </init-param>
  <init-param>
   <param-name>tempPath</param-name>
   <param-value>F:/upload/temp/</param-value>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>FileUpload</servlet-name>
  <url-pattern>/servlet/FileUpload</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>index.html</welcome-file>
  <welcome-file>index.htm</welcome-file>
  <welcome-file>index.jsp</welcome-file>
  <welcome-file>default.html</welcome-file>
  <welcome-file>default.htm</welcome-file>
  <welcome-file>default.jsp</welcome-file>
 </welcome-file-list>
 <error-page>
  <error-code>404</error-code>
  <location>/Http_errorpage.jsp</location>
 </error-page>
 <error-page>
  <exception-type>com.harry.shopping.util.exception.AppException</exception-type>
  <location>/error_page.jsp</location>
 </error-page>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
